<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="../views/src/output.css" rel="stylesheet" />
    <link rel="icon" href="#" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="../views/assets/js/home.js"></script>
    <script
      src="https://kit.fontawesome.com/c227e3363b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body
    class="h-screen overflow-hidden font-poppins bg-gradient-to-br from-gray-100 to-white text-gray-800"
  >
    <header
      class="fixed top-0 left-0 right-0 h-16 bg-white shadow-md flex items-center justify-between px-6 z-10"
    >
      <a
        href="/trevo-project/public"
        class="flex items-center gap-2 text-xl font-bold text-[#6F23D9] hover:opacity-90 transition"
      >
        <img
          src="../views/assets/img/logo.png"
          alt="LOGO"
          class="w-10 h-10 object-contain"
        />
        Trevo
      </a>
      <div id="auth-buttons" class="flex gap-3">
        <a
          href="/trevo-project/public/cadastro"
          class="px-4 py-2 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 text-[#6F23D9] hover:scale-105 transition duration-300 font-medium shadow-sm"
        >
          Cadastrar
        </a>
        <a
          href="/trevo-project/public/login"
          class="px-4 py-2 bg-[#6F23D9] rounded-lg hover:bg-[#4f179c] text-white hover:scale-105 transition duration-300 font-medium shadow-sm"
        >
          Login
        </a>
      </div>
    </header>

    <aside
      class="fixed top-16 left-0 w-72 h-[calc(100vh-4rem)] bg-white p-4 shadow-lg border-r border-gray-200 overflow-y-auto flex flex-col gap-6"
    >
      <button
        onclick="functionDescer()"
        class="flex items-center gap-3 px-6 py-4 rounded-xl bg-gray-50 hover:bg-purple-100 text-gray-800 shadow transition duration-200 cursor-pointer"
      >
        <!-- <object id="bookIcon" data="../views/assets/svg/bookpreto.svg" type="image/svg+xml"></object>
          -->
        <i class="fa-solid fa-book"></i>
        <span>Livros</span>
      </button>
      <div
        id="escondido"
        class="border-l-4 border-purple-400 bg-gray-50 rounded-md flex items-center flex-col gap-2 overflow-hidden transition-all duration-300 w-full"
      >
        <ul
          class="max-w-md space-y-1 text-gray-800 list-disc list-inside dark:text-gray-400 w-full"
        >
          <li
            class="py-2 px-4 w-full rounded-md hover:bg-purple-100 transition"
          >
            <a href="#">Todos os Livros</a>
          </li>
          <li
            class="py-2 px-4 w-full rounded-md hover:bg-purple-100 transition"
          >
            <a href="#">Empréstimos</a>
          </li>
          <li
            class="py-2 px-4 w-full rounded-md hover:bg-purple-100 transition"
          >
            <a href="#">Trocas</a>
          </li>
        </ul>
      </div>

      <button
        onclick="functionDescerForum()"
        class="flex items-center gap-3 px-6 py-4 rounded-xl bg-gray-50 hover:bg-purple-100 text-gray-800 shadow transition duration-200 cursor-pointer"
      >
        <i class="fa-solid fa-comment"></i>
        <span>Fórum</span>
      </button>
      <div
        id="escondidoForum"
        class="border-l-4 border-purple-400 bg-gray-50 rounded-md w-full overflow-hidden transition-all duration-300 max-h-0 px-4 py-0"
      >
        <ul
          class="max-w-md space-y-1 text-gray-800 list-disc list-inside dark:text-gray-400 w-full"
        >
          <li
            class="py-2 px-4 w-full rounded-md hover:bg-purple-100 transition"
          >
            <a href="#">Todos os Fóruns</a>
          </li>
          <li
            class="py-2 px-4 w-full rounded-md hover:bg-purple-100 transition"
          >
            <a href="#">Discussões</a>
          </li>
        </ul>
      </div>
      <button
        id="botaoConfiguracoes"
        onclick="functionDescerConfiguracoes()"
        class="flex items-center gap-3 px-6 py-4 rounded-xl bg-gray-50 hover:bg-purple-100 text-gray-800 shadow transition duration-200 cursor-pointer"
      >
        <i class="fa-solid fa-gear"></i>
        <span>Configurações</span>
      </button>
      <div
        id="escondidoConfiguracoes"
        class="border-l-4 border-purple-400 bg-gray-50 rounded-md flex items-center flex-col gap-2 overflow-hidden transition-all duration-300 max-h-0 px-2 py-0"
      >
        <ul
          class="max-w-md space-y-1 text-gray-800 list-disc list-inside dark:text-gray-400 w-full"
        >
          <li
            class="py-2 px-4 w-full rounded-md hover:bg-purple-100 transition"
          >
            <a href="/trevo-project/public/perfil">Perfil</a>
          </li>
          <li
            class="py-2 px-4 w-full rounded-md text-red-400 hover:bg-red-100 transition"
          >
            <a href="/trevo-project/public/logout">Sair</a>
          </li>
        </ul>
      </div>
    </aside>

    <main class="ml-72 mt-16 h-[calc(100vh-4rem)] overflow-y-auto p-8 bg-gray-50 space-y-6">
      <div class="flex flex-col gap-6" id="posts-container">
        <div class="flex items-center justify-between">
          <button onclick="window.location.href = '/trevo-project/public/forum'";
          id="btn-criar-forum"
          class="bg-[#6F23D9] text-white px-4 py-2 rounded-lg hover:bg-[#4f179c] transition font-medium shadow cursor-pointer flex items-center"
        >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 23" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        Meus Fóruns
        </button>
        </div>
        
        
        
        
      </div>
        <!-- <div class="w-full">
          <input
            type="text"
            placeholder=" Pesquisar fóruns..."
            class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-400 placeholder:text-gray-400"
          />
        </div>
        <div class="flex flex-col gap-4">
          <div
            class="bg-white border-l-4 border-purple-500 rounded-xl shadow-sm p-5 flex flex-col sm:flex-row sm:items-center sm:justify-between hover:shadow-md transition"
          >
            <div class="flex-1 space-y-1">
              <h3
                class="text-xl font-semibold text-purple-700 flex items-center gap-2"
              >
                <i class="fa-solid fa-comments text-purple-500"></i>
                Recomendações de Leitura
              </h3>
              <p class="text-sm text-gray-600">
                Compartilhe e descubra novos livros com a comunidade.
              </p>
              <div class="flex gap-4 text-xs text-gray-500">
                <span
                  ><i class="fa-solid fa-user text-gray-400 mr-1"></i> Mariana
                  Pires</span
                >
                <span
                  ><i class="fa-solid fa-calendar-days text-gray-400 mr-1"></i>
                  03/05/2024</span
                >
              </div>
            </div>
            <button
              class="mt-4 sm:mt-0 sm:ml-6 px-5 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700 shadow-md transition text-sm font-medium cursor-pointer"
            >
              Entrar no Fórum
            </button>
          </div>
        </div> -->
      </div>
    </main>

    <div class="bg-gray-900 min-h-screen text-white font-sans">
    <!-- Topo com imagem do grupo -->
    <div class="flex flex-col items-center py-6">
      <img src="group-photo.jpg" alt="Grupo" class="w-28 h-28 rounded-full object-cover border-4 border-gray-700">
      <h1 class="text-xl font-semibold mt-4">HEREGE'S FAMILY</h1>
      <p class="text-gray-400 text-sm">Group · 11 members</p>
    </div>

    <!-- Lista de membros -->
    <div class="px-6 space-y-4">
      <!-- Exemplo de membro com status e admin -->
      <div class="flex items-center justify-between">
        <div>
          <p class="font-medium">Junico</p>
          <p class="text-sm text-gray-400">Não posso falar, somente WhatsApp</p>
        </div>
        <span class="bg-green-800 text-xs px-2 py-1 rounded">Group Admin</span>
      </div>

      <div class="flex items-center justify-between">
        <div>
          <p class="font-medium">Mãe</p>
          <p class="text-sm text-gray-400">Eu prefiro ser esta metamorfose ambulante...</p>
        </div>
        <span class="bg-green-800 text-xs px-2 py-1 rounded">Group Admin</span>
      </div>

      <!-- Replique o bloco acima para os demais membros -->
      <!-- Exemplo sem admin -->
      <div>
        <p class="font-medium">naomi 🐱</p>
        <p class="text-sm text-gray-400">🥳😌😍😑😃🥳</p>
      </div>

      <div>
        <p class="font-medium">Renan</p>
        <p class="text-sm text-gray-400">Hey there! I am using WhatsApp.</p>
      </div>

      <!-- ... -->
    </div>

    <!-- Ações -->
    <div class="border-t border-gray-700 mt-8 pt-4 px-6 space-y-4">
      <button class="flex items-center gap-3 text-red-500 hover:text-red-400 w-full">
        <i class="fas fa-sign-out-alt"></i>
        <span>Exit group</span>
      </button>
      <button class="flex items-center gap-3 text-red-500 hover:text-red-400 w-full">
        <i class="fas fa-flag"></i>
        <span>Report group</span>
      </button>
    </div>
  </div>


    <script>
      function abrirModalInfoForum(proprietario, participantes) {
      document.getElementById('proprietario-forum').textContent = proprietario;

      const lista = document.getElementById('participantes-forum');
      lista.innerHTML = ''; // limpa
      participantes.forEach(usuario => {
        const li = document.createElement('li');
        li.textContent = usuario;
        lista.appendChild(li);
      });

      document.getElementById('modal-info-forum').classList.remove('hidden');
    }

    function fecharModal() {
      document.getElementById('modal-info-forum').classList.add('hidden');
    }
    function sairDoForum() {

      alert('Você saiu do fórum.');
      fecharModal();
    }
    function denunciarForum() {
      alert('Fórum denunciado.');
    }

    </script>

    <script src="../app/api/api.js"></script>
    <script src="../app/api/tela/forum_entrar_tela.js"></script>
    <!-- <script src="../app/api/auth/forum.js"></script> -->
  </body>
</html>
